.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.env
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/hot
public/storage